<!-- JQUERY LIBRARY -->
<script src="/static/site/js/jquery.min.js"></script>
<!-- BOOTSTRAP JS -->
<script src="/static/site/js/bootstrap.min.js"></script>
<!-- OWL CAROUSEL JS -->
<script src="/static/site/js/owl.carousel.min.js"></script>
<!-- APPEARS JS -->
<script src="/static/site/js/jquery.appear.js"></script>
<!-- EASING JS -->
<script src="/static/site/js/jquery.easing.min.js"></script>
<!-- STELLAR JS -->
<script src="/static/site/js/jquery.stellar.min.js"></script>
<!-- COUNTER JS -->
<script src="/static/site/js/jquery.counterup.min.js"></script>
<!-- ISOTOPE JS -->
<script src="/static/site/js/isotope.pkgd.min.js"></script>
<!-- LIGHTBOX JS -->
<script src="/static/site/js/lightbox.min.js"></script>
<!-- YTPLAYER JS -->
<script src="/static/site/js/jquery.mb.YTPlayer.min.js"></script>
<!-- BOOTSTRAP VALIDATOR JS -->
<script src="/static/site/js/validator.min.js"></script>
<!-- THEME JS -->
<script src="/static/site/js/theme.js"></script>
<!-- GOOGLE MAP INIT JS -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtkY02zM_XV3XtSzJbNwJdiA2iuNmP_bI&callback=initStarkContact"
        type="text/javascript"></script>