<!-- FAV ICON -->
<link rel="shortcut icon" href="/static/site/images/favicon.ico" type="text/css"/>
<!-- BOOTSTRAP CSS -->
<link rel="stylesheet" href="/static/site/css/bootstrap.min.css" type="text/css"/>
<!-- FONTAWESOME CSS -->
<link rel="stylesheet" href="/static/site/css/font-awesome.min.css" type="text/css"/>
<!-- OWL CAROUSEL CSS -->
<link rel="stylesheet" href="/static/site/css/owl.carousel.min.css" type="text/css"/>
<!-- ANIMATE CSS -->
<link rel="stylesheet" href="/static/site/css/animate.min.css" type="text/css"/>
<!-- LIGHTBOX CSS -->
<link rel="stylesheet" href="/static/site/css/lightbox.min.css" type="text/css"/>
<!-- YTPLAYER CSS -->
<link rel="stylesheet" href="/static/site/css/mb.YTPlayer.min.css" type="text/css"/>
<!-- FLATICON CSS -->
<link rel="stylesheet" href="/static/site/css/flaticon.css" type="text/css"/>
<!-- BOOTSTRAP VALIDATOR CSS -->
<link rel="stylesheet" href="/static/site/css/validator.min.css" type="text/css"/>
<!-- THEME STYLE CSS -->
<link rel="stylesheet" href="/static/site/css/style.css" type="text/css"/>