    <!-- Favicon-->
    <link rel="icon" href="/static/site/images/favicon.ico" type="image/x-icon">
    <!-- Plugins Core Css -->
    <link href="/static/site/css/app.min.css" rel="stylesheet">
    <link href="/static/site/js/bundles/materialize-rtl/materialize-rtl.min.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="/static/site/css/style.css" rel="stylesheet"/>
    <!-- Theme style. You can choose a theme from css/themes instead of get all themes -->
    <link href="/static/site/css/styles/all-themes.css" rel="stylesheet"/>